Backend/.vs/
Backend/Application/bin/
Backend/Application/obj/
Backend/bin/
Backend/obj/
Backend/Domain/bin/
Backend/Domain/obj/
Backend/Persistence/bin/
Backend/Persistence/obj/
Backend/XUnit/bin/
Backend/XUnit/obj/
Backend/Desafio-Backend/bin/
Backend/Desafio-Backend/obj/


