Backend/Desafio-Backend/.vs/
Backend/Desafio-Backend/Application/bin/
Backend/Desafio-Backend/Application/obj/
Backend/Desafio-Backend/Desafio-Backend/bin/
Backend/Desafio-Backend/Desafio-Backend/obj/
Backend/Desafio-Backend/Domain/bin/
Backend/Desafio-Backend/Domain/obj/
Backend/Desafio-Backend/Persistence/bin/
Backend/Desafio-Backend/Persistence/obj/
Backend/Desafio-Backend/XUnit/bin/
Backend/Desafio-Backend/XUnit/obj/



